<% @availableActions = [:delete,:details] if @availableActions.nil? %>
<div class="pageheader">
  <div role="contentFor" data-contentfor="headerTitle">Customers IDs</div>
</div>
<%= render 'general/entity_grid' %>