<% @availableActions = [:edit,:delete,:details] if @availableActions.nil? %>
<div class="pageheader">
  <div role="contentFor" data-contentfor="headerTitle">Sites Admin</div>
</div>
<%= render 'general/entity_grid' %>