<div class="details-content">
  <div class="row">
    <div class="col-md-6">
      <div class="row"><div class="col-md-12 details-label">Name</div></div>
      <div class="row"><div class="col-md-12"><%= @targetEntity.device_name %></div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row"><div class="col-md-12 details-label">Hardware ID</div></div>
      <div class="row"><div class="col-md-12"><%= @targetEntity.device.hw_id %></div></div>
    </div>
  </div>
</div>