<div class="details-content">
  <div class="row">
    <div class="col-md-6">
      <div class="row"><div class="col-md-12 details-label">Name</div></div>
      <div class="row"><div class="col-md-12"><%= @targetEntity.key %></div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row"><div class="col-md-12 details-label">Metric</div></div>
      <div class="row"><div class="col-md-12"><%= @targetEntity.metric %></div></div>
    </div>
  </div>
</div>