<div class="details-content">
  <div class="row">
    <div class="col-md-6">
      <div class="row"><div class="col-md-12 details-label">Name</div></div>
      <div class="row"><div class="col-md-12"><%= @targetEntity.name %></div></div>
    </div>
  </div>
  <br/>
</div>