<div class="details-content">
  <div class="row">
    <div class="col-md-6">
      <div class="row"><div class="col-md-12 details-label">Email</div></div>
      <div class="row"><div class="col-md-12"><%= @targetEntity.email %></div></div>
    </div>
    <div class="col-md-6">
      <div class="row"><div class="col-md-12 details-label">Phone</div></div>
      <div class="row"><div class="col-md-12"><%= @targetEntity.phone %></div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row"><div class="col-md-12 details-label">Role</div></div>
      <div class="row"><div class="col-md-12"><%= @targetEntity.role.name %></div></div>
    </div>
  </div>
  <br/>
</div>