<%= javascript_include_tag "application/device/report" %>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#activemonitors" aria-controls="activemonitors" role="tab" data-toggle="tab">Active Monitors</a></li>
    <li role="presentation"><a href="#reporting" aria-controls="reporting" role="tab" data-toggle="tab">Reporting</a></li>
    <li role="presentation"><a href="#download" aria-controls="download" role="tab" data-toggle="tab">Download</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="activemonitors">
      <div class="pageheader">
        <h2><i class="fa fa-home"></i>Devices</h2>
      </div>
      <% @entity_searchable = true; %>
      <%= render 'general/entity_grid' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="reporting">
      <div class="pageheader">
        <h2><i class="fa fa-home"></i>Reports</h2>
      </div>
      <br/><%= render 'caregiver/device/device_reports' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="download">
      <div class="pageheader">
        <h2><i class="fa fa-home"></i>Download Devices</h2>
      </div>
      <%= link_to "Download Devices Info",{ controller: "caregiver", action: "download_devices", token: params[:token], format: "csv"}, class: "btn btn-primary" %>
    </div>
  </div>

</div>