<div class="pageheader">
  <div role="contentFor" data-contentfor="headerTitle">HELP</div>
</div>
<div>
  <div class="form-group"><span class="menuicon glyphicon glyphicon-user" aria-hidden="true"></span><strong>Care Sentinel A Loon Medical, Inc. suite product</strong>   Tolland, CT</div>
  <div class="form-group"><span class="menuicon glyphicon glyphicon-phone-alt" aria-hidden="true"></span><strong>1-855-282-0004</strong></div>
  <div class="form-group"><span class="menuicon glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@shopcaresentinel.com">info@shopcaresentinel.com</a></div>
  <div class="form-group"><span class="menuicon glyphicon glyphicon-new-window" aria-hidden="true"></span><a href="http://www.shopcaresentinel.com/resources/">http://www.shopcaresentinel.com/resources/</a>  For replacement sensors and other medical devices</div>
  <div class="form-group"><span class="menuicon glyphicon glyphicon-new-window" aria-hidden="true"></span><a href="http://www.shopcaresentinel.com/product-category/build-your-own-sensor-system/">http://www.shopcaresentinel.com/product-category/build-your-own-sensor-system/</a> For replacement sensors and other medical devices</div>

</div>