<% @availableActions = [:add,:details] if @availableActions.nil? %>
<div class="pageheader">
  <div role="contentFor" data-contentfor="headerTitle">Properties</div>
</div>
<%= render 'general/entity_grid' %>