<form class="entity-input-form" data-entity="<%= params[:entityName]%>" role="form">
  <input type="hidden" name="skip_confirm" value="true" />
  <div class="form-group">
    <label for="name">Property Name</label>
    <input type="text" class="form-control" id="property_name" name="property_name" required="true"/>
  </div>
  <div class="form-group">
    <label for="name">Metric</label>
    <input type="text" class="form-control" id="metric" name="metric" />
  </div>
  <div class="form-group">
    <label for="name">Value</label>
    <input type="text" class="form-control" id="value" name="value" required="true"/>
  </div>
  <div class="form-group">
    <label for="name">Device</label>
    <%= render "general/components/autocomplete", :targetValue => '', :targetLabel => '', :service => '/devicemapping/suggestions', :prefix_id => 'property_device', :placeholder => 'Device Name', :required => true%>
  </div>
  <div class="form-group">
    <label for="name">Created at</label>
    <input type="text" id="created_at" name="created_at" role='datetime-picker' class="form-control">
  </div>
  <div class="form-group">
    <label for="name">Dismiss time</label>
    <input type="text" id="dismiss_time" name="dismiss_time" role='datetime-picker' class="form-control">
  </div>
</form>