<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#historicReport" aria-expanded="false" aria-controls="historicReport">
  Historic Report
</button>

<button class="btn btn-primary" id="averageReportButton" type="button" data-toggle="collapse" data-target="#averageReport" aria-expanded="false" aria-controls="averageReport">
  Average Report
</button>

<div class="collapse" id="historicReport">
  <br/><label>Device property Name</label>
    <div class="input-group col-lg-4">
      <%= render "general/components/autocomplete", :targetValue => '', :targetLabel => '', :service => '/device/properties_suggestions', :prefix_id => 'property_device', :placeholder => '' %>
      <span class="input-group-btn">
        <button class="btn btn-default" id="btnReport" type="button">Historic Report</button>
      </span>
    </div>
</div>

<div class="collapse" id="averageReport">
  <br/><label>Device Name</label>
  <div class="input-group col-lg-4">
    <%= render "general/components/autocomplete", :targetValue => '', :targetLabel => '', :service => '/device/suggestions', :prefix_id => 'device', :placeholder => '' %>
    <span class="input-group-btn">
        <button class="btn btn-default" id="btnAverageReport" type="button">Average Report</button>
      </span>
  </div>
</div>

<div>
  <%= render 'general/chart' %>
</div>