<div class="form-group">
    <label>Device Name</label>
    <div class="input-group col-lg-4">
      <%= render "general/components/autocomplete", :targetValue => '', :targetLabel => '', :service => '/devicemapping/suggestions', :prefix_id => 'device', :placeholder => '', :onSelect => 'deviceSelect' %>
    </div>
</div>

<div class="form-group">
    <label>Property Name</label>
    <div class="input-group col-lg-4">
      <select id="propertiesSelect">
         <option value="">Select a Device</option>
      </select>
    </div>
</div>

<button class="btn btn-primary" disabled id="historicReportButton" type="button" aria-expanded="false" aria-controls="historicReport">
  Historic Report
</button>

<button class="btn btn-primary" disabled id="averageReportButton" type="button" aria-expanded="false" aria-controls="averageReport">
  Average Report
</button>

<div class="collapse" id="historicReport">
    <%= link_to "Export Historic Report",{ controller: "caregiver", action: "export_historic_report", token: params[:token], format: "csv"}, class: "btn btn-primary", id: "linkExportHistoric" %>
</div>

<div class="collapse" id="averageReport">
    <%= link_to "Export Average Report",{ controller: "caregiver", action: "export_average_report", token: params[:token], format: "csv"}, class: "btn btn-primary", id: "linkExportAverage" %>
</div>

<div>
  <%= render 'general/chart' %>
</div>