<form class="entity-input-form" role="form">
  <input type="hidden" name="skip_confirm" value="true" />
  <div class="form-group">
    <table class="table stripe table-bordered table-hover">
      <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Metric</th>
      </tr>
     <% @properties.each do |p| %>
        <tr>
            <td><%= p.property.key %></td>
            <td><%= p.value %></td>
            <td><%= p.property.metric %></td>
        </tr>
      <% end %>
    </table>
  </div>
</form>