<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#def2f6;height:100%!important;width:100%!important">
  <tbody><tr>
    <td align="center" valign="top" style="margin:0;padding:20px;border-top:0;height:100%!important;width:100%!important">

      <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0">
        <tbody><tr>
          <td align="center" valign="top">

            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#3386b0;border-top:0;border-bottom:0">
              <tbody><tr>
                <td valign="top" style="padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                  <tbody>
                  <tr>
                    <td valign="top">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="366" style="border-collapse:collapse">
                        <tbody><tr>

                          <td valign="top" style="padding-top:9px;padding-left:18px;padding-bottom:9px;padding-right:0;color:#ffffff;font-family:Verdana;font-size:10px;line-height:125%;text-align:left">

                            Use this area to offer a short preview of your email's content.
                          </td>
                        </tr>
                        </tbody></table>

                      <table align="right" border="0" cellpadding="0" cellspacing="0" width="197" style="border-collapse:collapse">
                        <tbody><tr>

                          <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:0;color:#ffffff;font-family:Verdana;font-size:10px;line-height:125%;text-align:left">

                            <a href="http://us7.campaign-archive2.com/?u=47bc3e86067a81cfa7f43e8ea&amp;id=d58e62bcd7&amp;e=" style="word-wrap:break-word;color:#ffffff;font-weight:normal;text-decoration:underline" target="_blank">View this email in your browser</a>
                          </td>
                        </tr>
                        </tbody></table>

                    </td>
                  </tr>
                  </tbody>
                </table></td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
              <tbody><tr>
                <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                  <tbody>
                  <tr>
                    <td style="padding:18px">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:2px;border-top-style:solid;border-top-color:#a7d9e6;border-collapse:collapse">
                        <tbody><tr>
                          <td>
                            <span></span>
                          </td>
                        </tr>
                        </tbody></table>
                    </td>
                  </tr>
                  </tbody>
                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                  <tbody>
                  <tr>
                    <td valign="top">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                        <tbody><tr>

                          <td valign="top" style="padding:9px 18px;font-weight:bold;color:#404040;font-family:Georgia;font-size:16px;line-height:150%;text-align:center">

                            <h1 style="margin:0;padding:0;display:block;font-family:Georgia;font-size:30px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0;text-align:center;color:#3386b0!important">Welcome to CareSentinel!</h1>

                            <h1 style="text-align:center;margin:0;padding:0;display:block;font-family:Georgia;font-size:30px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0;color:#3386b0!important"><em><span style="font-size:20px"><span style="line-height:1.6em"><a href="http://www.shopcaresentinel.com?utm_source=General+Mailings&utm_campaign=d58e62bcd7-Welcome_New_CareSentinel_User_8_26_2015&utm_medium=email&utm_term=0_bb6dbb538c-d58e62bcd7-&mc_cid=d58e62bcd7&mc_eid=[UNIQID]" style="word-wrap:break-word;color:#c52e26;font-weight:normal;text-decoration:none" target="_blank"><img align="none" height="279" src="https://ci4.googleusercontent.com/proxy/1DJZdtKOixr2ivxk5UR7HRcTEA4mYj4n_HeVnAtCG5-VxWP9HhecKtfyx-phGs90hox7UxGWyC7zSH2E4YBJmh3G3G75i3-7MpH2glfdw8jQj6zZeWmPQGi8JvoiC122_bDjXkZam09cHdkLddqtYXxAY4WCHBemEnZ-T0Q=s0-d-e1-ft#https://gallery.mailchimp.com/47bc3e86067a81cfa7f43e8ea/images/45ea4b60-3859-45ea-8354-e0f3476b123c.png" style="width:290px;min-height:279px;margin:0px;border:0;outline:none;text-decoration:none" width="290" class="CToWUd"></a></span></span></em></h1>

                            <h1 style="line-height:20.7999992370605px;text-align:center;margin:0;padding:0;display:block;font-family:Georgia;font-size:30px;font-style:normal;font-weight:normal;letter-spacing:0;color:#3386b0!important"><em><span style="font-size:20px"><span style="line-height:1.6em">The official Caregivers' Helper.&nbsp;</span></span></em></h1>

                          </td>
                        </tr>
                        </tbody></table>

                    </td>
                  </tr>
                  </tbody>
                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                  <tbody>
                  <tr>
                    <td style="padding:18px">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:2px;border-top-style:solid;border-top-color:#a7d9e6;border-collapse:collapse">
                        <tbody><tr>
                          <td>
                            <span></span>
                          </td>
                        </tr>
                        </tbody></table>
                    </td>
                  </tr>
                  </tbody>
                </table></td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
              <tbody><tr>
                <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                  <tbody>
                  <tr>
                    <td valign="top">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                        <tbody><tr>

                          <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#404040;font-family:Verdana;font-size:14px;line-height:150%;text-align:left">

                            Dear <%= @user_mail %>,<br>
                            <br>
                            Welcome to Caresentinel! You are now a member of the world's first ever home-health care monitoring system.&nbsp;<br>
                            <br>
                            Visit <a href="http://www.shopcaresentinel.com?utm_source=General+Mailings&utm_campaign=d58e62bcd7-Welcome_New_CareSentinel_User_8_26_2015&utm_medium=email&utm_term=0_bb6dbb538c-d58e62bcd7-&mc_cid=d58e62bcd7&mc_eid=[UNIQID]" title="ShopCareSentinel" style="word-wrap:break-word;color:#c52e26;font-weight:normal;text-decoration:none" target="_blank">ShopCareSentinel.com</a>&nbsp;for any questions or comments and be sure to get your replacement sensors, call buttons, & monitors here.&nbsp;<br>
                            <br>
                            Click the button below to complete your email address & user ID confirmation.<br>
                            <br>
                            <strong>Your Sign in Details:&nbsp;</strong><a href="mailto:<%= @user_mail %>" target="_blank"><%= @user_mail %></a><br>
                            Use this email address when signing into the iOS or Android CareSentinel mobile Apps.&nbsp;<br>
                            <br>
                            Forgot your password? <%= link_to "Reset Password here", {controller: "navigate", action: "reset_password", host: BaseApp::Application.config.welcomeSite} %> <br>
                            <br>
                            &nbsp;
                          </td>
                        </tr>
                        </tbody></table>

                    </td>
                  </tr>
                  </tbody>
                </table></td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
              <tbody><tr>
                <td align="center" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                    <tbody><tr>
                      <td align="left" valign="top" width="50%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                          <tbody><tr>
                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                              <tbody>
                              <tr>
                                <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                                  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px solid #707070;border-radius:5px;background-color:#3386b0">
                                    <tbody>
                                    <tr>
                                      <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:16px">
                                        <a title="Download iOS App" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;word-wrap:break-word;display:block">Download iOS App</a>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              </tbody>
                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                              <tbody>
                              <tr>
                                <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                                  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px solid #707070;border-radius:5px;background-color:#3386b0">
                                    <tbody>
                                    <tr>
                                      <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:16px">
                                        <a title="Download Android App" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;word-wrap:break-word;display:block">Download Android App</a>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              </tbody>
                            </table></td>
                          </tr>
                          </tbody></table>
                      </td>
                      <td align="left" valign="top" width="50%">
                        <table align="right" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                          <tbody><tr>
                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                              <tbody>
                              <tr>
                                <td align="center" valign="top" style="padding:9px">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                    <tbody><tr>
                                      <td align="center" style="padding-left:9px;padding-right:9px">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #3386b0;background-color:#fafafa;border-collapse:collapse">
                                          <tbody><tr>
                                            <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                                              <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                <tbody><tr>
                                                  <td valign="top">


                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">

                                                      <tbody><tr>
                                                        <td align="center" valign="top" style="padding-right:10px;padding-bottom:5px">
                                                          <a href="https://www.facebook.com/shopCareSentinel?fref=ts&utm_source=General+Mailings&utm_campaign=d58e62bcd7-Welcome_New_CareSentinel_User_8_26_2015&utm_medium=email&utm_term=0_bb6dbb538c-d58e62bcd7-&mc_cid=d58e62bcd7&mc_eid=[UNIQID]" style="word-wrap:break-word" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/g6FtADNL7Sv6fmPqvszVWCqAbU0tjF_Gc6HVsQzehNF03FiexbApFmdikQPIzKGp9w5NcePMdldTFYdEICqQt_qAwqKVXbFmFAUoUr1WUWdygv3SQvBUCixcsUN05T2SOg=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" alt="Facebook" width="48" style="width:48px;max-width:48px;display:block;border:0;outline:none;text-decoration:none" class="CToWUd"></a>
                                                        </td>
                                                      </tr>


                                                      <tr>
                                                        <td align="center" valign="top" style="padding-right:10px;padding-bottom:9px">
                                                          <a href="https://www.facebook.com/shopCareSentinel?fref=ts&utm_source=General+Mailings&utm_campaign=d58e62bcd7-Welcome_New_CareSentinel_User_8_26_2015&utm_medium=email&utm_term=0_bb6dbb538c-d58e62bcd7-&mc_cid=d58e62bcd7&mc_eid=[UNIQID]" style="color:#606060;font-family:Arial;font-size:11px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word" target="_blank">Facebook</a>
                                                        </td>
                                                      </tr>

                                                      </tbody></table>





                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">

                                                      <tbody><tr>
                                                        <td align="center" valign="top" style="padding-right:10px;padding-bottom:5px">
                                                          <a href="https://twitter.com/caresentinel?utm_source=General+Mailings&utm_campaign=d58e62bcd7-Welcome_New_CareSentinel_User_8_26_2015&utm_medium=email&utm_term=0_bb6dbb538c-d58e62bcd7-&mc_cid=d58e62bcd7&mc_eid=[UNIQID]" style="word-wrap:break-word" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/hFOjQ4wBdntqcGvfhBxlewt4oRPay1AgDxeGA2KSt6GX8xUpulayqoXVVNqwuZ0g7QlJixaZglnX02_rfg0tjqG9O0bvjNY-3whYug2Kp-2prncKll_iWKHP15CaRUlu=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png" alt="Twitter" width="48" style="width:48px;max-width:48px;display:block;border:0;outline:none;text-decoration:none" class="CToWUd"></a>
                                                        </td>
                                                      </tr>


                                                      <tr>
                                                        <td align="center" valign="top" style="padding-right:10px;padding-bottom:9px">
                                                          <a href="https://twitter.com/caresentinel?utm_source=General+Mailings&utm_campaign=d58e62bcd7-Welcome_New_CareSentinel_User_8_26_2015&utm_medium=email&utm_term=0_bb6dbb538c-d58e62bcd7-&mc_cid=d58e62bcd7&mc_eid=[UNIQID]" style="color:#606060;font-family:Arial;font-size:11px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word" target="_blank">Twitter</a>
                                                        </td>
                                                      </tr>

                                                      </tbody></table>





                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">

                                                      <tbody><tr>
                                                        <td align="center" valign="top" style="padding-right:10px;padding-bottom:5px">
                                                          <a href="http://www.shopcaresentinel.com" style="word-wrap:break-word" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/6KMOL-ec-xC8PRPN3tGraBjaNDgPK0Hr0uGObIPcj8qy0jIFOozw4g45b9gm7LeuHrKrMQb43OC-IzvL66J85fDrvQooqfWghBjYnuU8FBHxz9tpg-PDxQk_01NS=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-link-96.png" alt="ShopCareSentinel" width="48" style="width:48px;max-width:48px;display:block;border:0;outline:none;text-decoration:none" class="CToWUd"></a>
                                                        </td>
                                                      </tr>


                                                      <tr>
                                                        <td align="center" valign="top" style="padding-right:10px;padding-bottom:9px">
                                                          <a href="http://www.shopcaresentinel.com" style="color:#606060;font-family:Arial;font-size:11px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word" target="_blank">ShopCareSentinel</a>
                                                        </td>
                                                      </tr>

                                                      </tbody></table>





                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">

                                                      <tbody><tr>
                                                        <td align="center" valign="top" style="padding-right:0;padding-bottom:5px">
                                                          <a href="mailto:info@shopcaresentinel.com" style="word-wrap:break-word" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/gmoYwiyFQLdYrjSNXhkI3R6h83NrYxEj23kh3Bedr6OuyYsf-qhKxRw_XooOmigvMfZpkWgN2TetgT2dbXuEmS5wNYXkYOewMOtsjdFydm9NLKShw1BfJQGSxmqXA7SfqNkjcfN_-OU=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-96.png" alt="Email" width="48" style="width:48px;max-width:48px;display:block;border:0;outline:none;text-decoration:none" class="CToWUd"></a>
                                                        </td>
                                                      </tr>


                                                      <tr>
                                                        <td align="center" valign="top" style="padding-right:0;padding-bottom:9px">
                                                          <a href="mailto:info@shopcaresentinel.com" style="color:#606060;font-family:Arial;font-size:11px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word" target="_blank">Email</a>
                                                        </td>
                                                      </tr>

                                                      </tbody></table>




                                                  </td>
                                                </tr>
                                                </tbody></table>
                                            </td>
                                          </tr>
                                          </tbody></table>
                                      </td>
                                    </tr>
                                    </tbody></table>

                                </td>
                              </tr>
                              </tbody>
                            </table></td>
                          </tr>
                          </tbody></table>
                      </td>
                    </tr>
                    </tbody></table>
                </td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#3386b0;border-top:0;border-bottom:0">
              <tbody><tr>
                <td valign="top" style="padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                  <tbody>
                  <tr>
                    <td valign="top">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                        <tbody><tr>

                          <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#202020;font-family:Verdana;font-size:10px;line-height:125%;text-align:center">

                            <em>Copyright &#169; 2015 Engineered Carbon Solutions, All rights reserved.</em><br>
                            You are receiving this message because you opted in at our website or because you are a personal contact of an employee or owner at Frog City Fuel.<br>
                            <br>
                            <strong>Our mailing address is:</strong><br>
                            <div><span>Engineered Carbon Solutions</span><div><div>24 Stott Ave</div><span>Norwich</span>, <span>CT</span>  <span>06360</span></div><br><a href="http://loonmedical.us7.list-manage2.com/vcard?u=47bc3e86067a81cfa7f43e8ea&id=bb6dbb538c" target="_blank">Add us to your address book</a></div>
                            <br>
                            <br>
                            Want to change how you receive these emails?<br>
                            You can <a href="http://frogcityfuel.us7.list-manage.com/profile?u=47bc3e86067a81cfa7f43e8ea&id=bb6dbb538c&e=" style="word-wrap:break-word;color:#ffffff;font-weight:bold;text-decoration:underline" target="_blank">update your preferences</a> or <a href="http://frogcityfuel.us7.list-manage2.com/unsubscribe?u=47bc3e86067a81cfa7f43e8ea&id=bb6dbb538c&e=&c=d58e62bcd7" style="word-wrap:break-word;color:#ffffff;font-weight:bold;text-decoration:underline" target="_blank">unsubscribe from this list</a><br>
                            <br>
                          </td>
                        </tr>
                        </tbody></table>

                    </td>
                  </tr>
                  </tbody>
                </table></td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>

    </td>
  </tr>
  </tbody></table>